In [1]:
#133
for 변수 in ["A", "B", "C"]:
    print(변수)

A
B
C

In [3]:
#134
print('A')
print('B')
print('C')

A
B
C

In [5]:
#134
for 변수 in ["A", "B", "C"]:
    print("출력:", 변수)

출력: A
출력: B
출력: C

In [8]:
#135
for 변수 in ["A", "B", "C"]:
    b = 변수.lower()
    print("변환:", b)

변환: a
변환: b
변환: c

In [9]:
#136
for 변수 in [10,20,30]:
    print(변수)

10
20
30

In [10]:
#137
a = [10, 20 , 30]
for i in a:
    print(i)

10
20
30

In [11]:
#138
a = [10, 20, 30]
for i in a :
    print(i)
    print('------')

10
------
20
------
30
------

In [13]:
#139

print('++++')
for i in a:
    print(i)

++++
10
20
30

In [14]:
#140
a1 = [1,2,3,4]
for i in a1:
    print('------')

------
------
------
------

In [15]:
#141
list1 = [100, 200, 300]
for i in list1:
    print(i+10)

110
210
310

In [16]:
#142
list2 = ["김밥", "라면", "튀김"]
for g in list2:
    print("오늘의 메뉴:", g)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [17]:
#143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for s in 리스트:
    print(len(s))

6
4
4

In [19]:
#144
리스트 = ['dog', 'cat', 'parrot']
for a in 리스트 :
    print(a, len(a))

dog 3
cat 3
parrot 6

In [20]:
# 145
리스트 = ['dog', 'cat', 'parrot']
for p in 리스트:
    print(p[0])

d
c
p

In [22]:
# 146
리스트 = [1, 2, 3]
for s in 리스트:
    print("3 x",s)

3 x 1
3 x 2
3 x 3

In [1]:
# 147
리스트 = [1, 2, 3]
for i in 리스트:
    print('3 x ',i ,'=', 3 * i)

3 x  1 = 3
3 x  2 = 6
3 x  3 = 9

In [2]:
# 147 - 2
list = [1, 2, 3]
for i in list:
  print("3 x {} = {}".format(i, 3 * i))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [8]:
# 148
리스트 = ["가", "나", "다", "라"]
for i in 리스트[1:]:
    print(i)

나
다
라

In [10]:
# 149
리스트 = ["가", "나", "다", "라"]
for i in 리스트[: :2]: # * *
    print(i)

가
다

In [14]:
# 150
리스트 = ["가", "나", "다", "라"]
for i in 리스트[: :-1]:
    print(i)

라
다
나
가

In [3]:
# 151 # o
리스트 = [3, -20, -3, 44]
for i in 리스트[1:3]:
    print(i)

-20
-3

In [4]:
# 151 답
리스트 = [3, -20, -3, 44]
for 변수 in 리스트:
    if 변수 < 0:
        print(변수)

-20
-3

In [5]:
# 152 # o
리스트 = [3, 100, 23, 44]
for i2 in 리스트:
    if i2 % 3 == 0:
        print(i2)

3

In [9]:
# 153
리스트 = [13, 21, 12, 14, 30, 18]
for i3 in 리스트:
    if i3 % 3 == 0:
        print (i3)
    else: i3 < 20

21
12
30
18

In [8]:
# 153 답
리스트 = [13, 21, 12, 14, 30, 18]
for i3 in 리스트:
    if (i3 % 3 == 0) and (i3 < 20):
        print(i3)

12
18

In [ ]:
# 154
리스트 = ["I", "study", "python", "language", "!"]
for i4 in 리스트(len[4]):
    print(i4)

In [14]:
# 154 답
리스트 = ["I", "study", "python", "language", "!"]
for i4 in 리스트:
    if len(i4) >= 3:
        print(i4)

study
python
language

In [17]:
# 155
리스트 = ["A", "b", "c", "D"]
for i5 in 리스트:
    if i5.isupper():
        print(i5)

A
D

In [ ]:
# 156 #157 넘어감

In [18]:
# 158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    split = i.split('.')
    print(split[0])

hello
ex01
intro

In [19]:
# 159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
    split = 변수.split(".")
    if split[1] == "h":
        print(변수)

# split() 메서드로 문자열을 분할하고 
#확장자가 "h"인지 분기문으로 비교합니다. 확장자가 "h"라면 파일 이름을 출력합니다.

intra.h
define.h

In [20]:
# 161 
# for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9