In [2]:
#문자열 자료형
a="Hello world"
b='python is fun'
c="""life is too short, you need python"""
d='''life is too short, you need python!'''
print(a)
print(b)
print(c)
print(d)

Hello world
python is fun
life is too short, you need python
life is too short, you need python!

In [4]:
food = "payton's favorite food is perl"
food

"payton's favorite food is perl"

In [5]:
food = 'payton's favorite food is perl'

SyntaxError: unterminated string literal (detected at line 1) (4026814866.py, line 1)

In [8]:
say = '"Python is very easy." he says.'
say
print(say)

"Python is very easy." he says.

In [10]:
food = 'Python\'s favorite food is perl'
food
print(food)

Python's favorite food is perl

In [13]:
food =  "철수가 말했다.\"나 밥먹고 싶어\""
food

'철수가 말했다."나 밥먹고 싶어"'

In [16]:
multiline = "Life is too short\nYou need python" #\n
print(multiline)

Life is too short
You need python

In [19]:
a = "하와와 \t 탭이야요"
b = "하와와 \\ 탭이야요"
print(a)
print(b)

하와와 	 탭이야요
하와와 \ 탭이야요

In [24]:
head = "Python"
tail = " is fun!"
head + tail

head = "파이썬!"
tail = " 이 매우 재미"
head + tail

'파이썬! 이 매우 재미'

In [22]:
a = "python"
a * 2

'pythonpython'

In [28]:
print("="*55)
print("My Python~~")
print("="*55)

=======================================================
My Python~~
=======================================================

In [29]:
a = "Life is too short"
len(a) # lan은 langth의 약자

17

In [35]:
a = "Life is too short, You need Python"
print(a[3])
print(a[5])
print(a[7]) #빈칸
print(a[9])
print(a[0])
print(a[-0]) #-0과 0은 같다.

print(a[-1]) #n 뒤에서부터 첫번째 문자
print(a[-2]) #o

e
i

o
L
L
n
o

In [36]:
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [38]:
# 슬라이싱
a = "Life is too short, You need Python"
print(a[0:5])  # 0 ~ 4(빈칸)
print(a[0:2])
print(a[0:7])
print(a[12:17])

Life
Li
Life is
short

In [41]:
a = "Life is too short, You need Python"
a[19:] # 19 ~ 끝 (18까지 문자 생략)
print(a[:19])
print(a[17:]) # 0~16 까지
print(a[:]) # 시작, 끝

Life is too short,
, You need Python
Life is too short, You need Python

In [42]:
a = "Life is too short, You need Python"
a[19:-7]

'You need'

In [ ]:
a = "20230331Rainy"
date = a[:8]
weather = a[8:]

In [45]:
date

'20230331'

In [46]:
weather

'Rainy'

In [47]:
a = "Pithon"
a[1]

'i'

In [49]:
a[1] = y

NameError: name 'y' is not defined

In [51]:
b = a[:1] + 'y' + a[2:]
b
print(b)

Python

In [56]:
"I eat %d applies." % 3  # 숫자를 넣을 경우 %d를 사용하여 포맷팅

'I eat 3 applies.'

In [57]:
"I eat %s applies." % "삼" # 문자를 넣을 경우 %s

'I eat 삼 applies.'

In [58]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [59]:
number = 10
day =  "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

In [60]:
"Eroor is %d%%." % 98

'Eroor is 98%.'

In [61]:
"%10s" % "hi" # 앞쪽 10번까지 공백

'        hi'

In [62]:
"%-10sjane." % 'hi' # 왼쪽 공백은 -

'hi        jane.'

In [64]:
"%.2f" % 3.42134234

'3.42'

In [65]:
"%10.4f" % 3.42134234 # 전체 길이 10 소수점 4자리

'    3.4213'

In [66]:
"%10.4f" % 7312558.42134234 #앞 코드 숫자가 우선함

'7312558.4213'

In [67]:
"I eat {0} apples".format("five") # 직접 대입

'I eat five apples'

In [69]:
number = 3
"I eat {0} apples" .format(number)

'I eat 3 apples'

In [70]:
number = 10
day = "three"
" I ate {0} apples, so I was sick for {1} days.".format(number, day)

' I ate 10 apples, so I was sick for three days.'

In [71]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [72]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3) # 인덱스와 이름을 혼용해서 넣기

'I ate 10 apples. so I was sick for 3 days.'

In [73]:
"{0:<10}".format("hi") #왼쪽 정렬(총 10에서<)

'hi        '

In [74]:
"{0:^10}".format("hi") # 가운데 정렬

'    hi    '

In [75]:
"{0:>10}".format("hi") # 오른쪽 정렬

'        hi'

In [76]:
name = '홍길동' # F포매팅
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [78]:
age = 30
f'나는 내년이면 {age + 1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [79]:
f'{"hi":<10}' # 왼쪽 정렬

'hi        '

In [80]:
f'{"hi:>10"}' # 오른쪽 정렬

'hi:>10'

In [82]:
f'{"hi":^10}' # 가운데 정렬

'    hi    '

In [83]:
f'{"hi":=^10}' # 가운데 정렬하고 '=' 문자로 공백 채우기

'====hi===='

In [84]:
f'{"hi":!<10}'  # 왼쪽 정렬하고 '!' 문자로 공백 채우기

'hi!!!!!!!!'

In [85]:
y = 3.42134234
f'{y:0.4f}' # 소수점 네자리

'3.4213'

In [86]:
f'{y:10.4f}' #10자리 소수점 4자리

'    3.4213'

In [87]:
f'{{ yes! }}'

'{ yes! }'

In [91]:
a = "hobby"
a.count('oa') # 문자열 여러개 가능 count값

0

In [92]:
a = "python is the best choice" #위치 알려주기
print(a.find('b'))
print(a.find('k')) # 없으면 -1
print(a.find('t'))

14
-1
2

In [93]:
a = "Life is too short" 
a.index('k') # 없으면 error

ValueError: substring not found

In [105]:
print("{0:!^12}".format('python'))

!!!python!!!

In [108]:
f'{"python":!^12}'

'!!!python!!!'

In [106]:
",".join('abcd') # 문자열 삽입

'a,b,c,d'

In [107]:
a = "hi" 
a.upper() # 대문자로 변경

'HI'

In [110]:
#문제2
a = "python"
print(a[1])

y

In [129]:
string = "python" #문제 1답 (변수이름 string)
string[1]

'y'

In [113]:
#문제3
a = "python is good"
print(a[9:])

 good

In [130]:
string = "python is good" #문제3 답
print(string[10:])
print(string[-4:])

good
good

In [128]:
#문제4 ('변수에 저장'하고는 변수 이름은 상괸없음)
a="Hi "
print(a*10)

Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi

In [ ]:
#문제5
site = "www.naver.com" # waeo!!
password = "w!!!!a!!e!!!!o!!" # 아님
"portal site name is {site} passsord is {passsord}".format(site.password)

In [135]:
# 문제5
a = "www.naver.com"
b = a[1]+a[3]+a[5]+a[7]+a[9]+a[11] + "!!"
print(b)

w.ae.o!!

In [136]:
#문제5 답 (변수 저장 이해 잘 할 것)
url = "www.naver.com"
PW = url[1] + url[3] + url[5] + url[7] + url[9] + url[11] + "!!"
print(PW)

w.ae.o!!

In [137]:
a = " hi"
a.strip() #공백 지우기

'hi'

In [138]:
a = "Life is too short"
a.replace("Life", "Your leg") #문자열 바꾸기

'Your leg is too short'

In [140]:
#문제6
phone_number = "010-1111-2222"
phone_number.replace("-","")

'01011112222'

In [141]:
#문제7
string = "abcdef2a3454a53a"
string.replace("a","A")

'Abcdef2A3454A53A'

In [142]:
a =  "life is too short"
a.split()

['life', 'is', 'too', 'short']

In [143]:
b="a:b:c:d"
b.split('a')

['', ':b:c:d']