In [7]:
#튜플 자료형
#리스트는 [], 튜플은 ()으로 둘러싼다.
#리스트는 요솟값의 생성, 삭제, 수정이 가능하지만, 튜플은 요솟값을 바꿀 수 없다.
t1 = ()                         #빈튜플
t2 = (1,)                       #원소를 가진 튜플 
t3 = (1, 2, 3)                  #1,2,3 원소를 가진 튜플
t4 = 1, 2, 3                    #1,2,3 원소를 가진 튜플
t5 = ('a', 'b', ('ab', 'cd'))   #튜플안의 또 다른 튜플을 가진 튜플
t6 = tuple([1])                 #interable(반복)이 되는 값을 인수로 가짐
t7 = (1)
t8 = ("1")

In [8]:
print(t1)
print(t2)
print(t6)
print(t7)
print(t8)

()
(1,)
(1,)
1
1

In [14]:
#변수의 형태를 볼 수 있는 type함수
a = 1           #'int'
b = "1"         #'str'
c = [1]         #'list'
d = (1,)        #'tuple'
e = (1)         #'str'

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'int'>

In [19]:
# 튜플 요솟값을 삭제하려 할 때 Error가 발생
t1 = (1, 2, 'a', 'b')
del t1[0]
t1

[2, 'a', 'b']

In [20]:
# 튜플 요솟값을 변경하려 할 때
t1 = (1, 2, 'a', 'b')
t1[0] = 'c'
t1

['c', 2, 'a', 'b']

In [22]:
t1 = (1, 2, 'a', 'b')
t1[0]

1

In [23]:
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [24]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t3 = t1 + t2
t3

(1, 2, 'a', 'b', 3, 4)

In [25]:
t2 = (3, 4)
t3 = t2 * 3
t3

(3, 4, 3, 4, 3, 4)

In [27]:
t1 = (1, 2, 'a', 'b')
len(t1)

4

In [28]:
#문제1
my_variable = ()

In [38]:
#문제2
my_variable = 10,
print(type(my_variable))
my_variable

<class 'tuple'>

(10,)

In [31]:
#문제3
t =  1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [57]:
#문제4
t = ('a','b','c')
list(t)
t = ['a', 'b', 'c']
t[0] = 'A'
tuple(t)

('A', 'b', 'c')

In [45]:
#문제5
interest = ('삼정전자', 'LG전자', 'SK Hynix')
list(interest)

['삼정전자', 'LG전자', 'SK Hynix']

In [46]:
#문제6
interest = ['삼정전자', 'LG전자', 'SK Hynix']
tuple(interest)

('삼정전자', 'LG전자', 'SK Hynix')