In [ ]:
# List 순서, 중복 수정, 삭제 가능 [ ]
# Tuple 순서, 중복 가능, 수정 삭제 불가능 ( )
# Dictionary 순서 중복 없음. 수정 삭제 가능 { }
# (집합) set 순서, 중복 불가능. 추가 삭제 가능 set( )

In [1]:
odd = [1,3,5,7,9]
odd

[1, 3, 5, 7, 9]

In [ ]:
a = []          # 빈 리스트
a = list()   
b = [1, 2, 3]   # 숫자형 리스트
b = list(1, 2, 3)
c = ['Life', 'is', 'too', 'short']  #문자열만 가진 리스트
d = [1, 2, 'Life', 'is']   #숫자와 문자열 모두 가진 리스트
e = [1, 2, ['Life', 'is']] #리스트 안에 또 다른 리스트를 가진 리스트

In [2]:
# 리스트 인덱싱
a = [1, 2, 3]
a

[1, 2, 3]

In [3]:
a[0]

1

In [4]:
a[0] + a[2] # 1+3

4

In [5]:
a[-1]

3

In [8]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [9]:
print(a[0])
print(a[-1])
print(a[3])

1
['a', 'b', 'c']
['a', 'b', 'c']

In [10]:
a[-1][0] # 리스트 안에 있던 a를 출력

'a'

In [11]:
a = [1, 2, ['a', 'b', ['Life', 'is']]] # 3중 리스트

In [12]:
a[2][2][0]

'Life'

In [13]:
# 리스트의 슬라이싱
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [14]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]
print(b)
print(c)

[1, 2]
[3, 4, 5]

In [16]:
#중첩된 리스트에서 슬라이싱하기
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print(a[2:5])    # 3 [3, ['a', 'b', 'c'], 4]
print(a[3][:2])  # ['a', 'b']

[3, ['a', 'b', 'c'], 4]
['a', 'b']

In [17]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [18]:
#문제1
a = [1,2,3,4,5]
a[1:3]

[2, 3]

In [19]:
# 리스트 반복하기
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [20]:
# 리스트 길이 구하기
len(a)

3

In [22]:
str(a[2]) + "hi" # str함수 숫자형을 문자열로 바꾸기

'3hi'

In [24]:
#리스트의 값 수정하기
a = [1, 2, 3]
print(a[2])     # 3

a[2] = 4
print(a[2])     # 4

3
4

In [25]:
# del 함수를 사용해 리스트 요소 삭제하기
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [26]:
a = [1, 2, 3, 4, 5] # 객체란 파이썬에서 사용되는 모든 자료형을 말한다.
del a[2:]
a

[1, 2]

In [ ]:
# 객체지향 프로그래밍

In [27]:
# 리스트에 요소 추가하기 - append
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [30]:
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [31]:
del a[4]
a

[1, 2, 3, 4]

In [32]:
# 리스트 정렬 - sort
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [33]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [34]:
# 리스트 정렬 - sort
a = ['cd', 'ab', 'da']
a.sort()
a

['ab', 'cd', 'da']

In [35]:
a = ['ad', 'ab', 'ca']
a.sort()
a

['ab', 'ad', 'ca']

In [36]:
# 리스트 뒤집기 - reverse
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [37]:
a = ['ad', 'ab', 'ca']
a.reverse()
a

['ca', 'ab', 'ad']

In [38]:
# 인덱스 반환 - index
a = [1, 2, 3]
a.index(3)

2

In [39]:
a.index(0) # 숫자 0이 없으므로 error

ValueError: 0 is not in list

In [40]:
# 리스트에 요소 삽입 - insert
a = [1, 2, 3]
# insert(인수1, 인수2) > 인수1 index 번호 인수2 : 값
a.insert(0, 4) # 0번째 index에 4번 값을 넣음
a

[4, 1, 2, 3]

In [44]:
a.insert(3, 5)
a

[4, 1, 2, 5, 5, 5, 5, 3]

In [47]:
# 리스트 요소 제거 - remove
a = [1, 2, 3, 1, 2, 3]      # 리스트 첫번째 값 삭제
a.remove(3)
a

[1, 2, 1, 2, 3]

In [48]:
a.remove(3)
a

[1, 2, 1, 2]

In [ ]:
# 리스트 에 없는 값은 Error

In [50]:
# 리스트 요소 끄집어 내기 - pop
# pop()은 리스트의 맨 마지막 요소를 리턴하고 그 요소는 삭제한다.
a = [1, 2, 3]
a.pop()
a

[1, 2]

In [51]:
# 리스트에 포함된 요소 x의 개수 세기 - count
a = [1, 2, 3, 1]
a.count(1) # 1이라는 값이 리스트 a에 2개 들어 있으므로 2를 리턴한다.

2

In [52]:
# 리스트 확장 - extend
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [53]:
b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# a += [4, 5]는 a = a + [4, 5]와 동일한 표현식이다.

In [55]:
# 문제 2
std = ["아이언맨", "헐크", "스파이더맨"]
print(std[0])
print(std[1])
print(std[2])

아이언맨
헐크
스파이더맨

In [68]:
#문제 3
std = ["아이언맨", "헐크", "스파이더맨"]
stda = ["타노스", "앤트맨"] 
std + stda

['아이언맨', '헐크', '스파이더맨', '타노스', '앤트맨']

In [93]:
# 문제3 답2
std = ["아이언맨", "헐크", "스파이더맨"]
std.append("타노스")
std.append("앤트맨")
std

['아이언맨', '헐크', '스파이더맨', '타노스', '앤트맨']

In [95]:
std = ['아이언맨', '헐크', '스파이더맨', '타노스', '앤트맨']
std[3] = "다노스"
std

['아이언맨', '헐크', '스파이더맨', '다노스', '앤트맨']

In [72]:
#문제5
std = ['아이언맨', '헐크', '스파이더맨', '다노스', '앤트맨']
print(std[2])

스파이더맨

In [75]:
#문제6
print(std[2:])

['스파이더맨', '다노스', '앤트맨']

In [98]:
#문제6 답
print(std[1:4])

['헐크', '스파이더맨', '다노스']

In [79]:
#문제7
std = ['아이언맨', '헐크', '스파이더맨', '다노스', '앤트맨']
del std[1]
std

['아이언맨', '스파이더맨', '다노스', '앤트맨']

In [80]:
#문제8
std.sort()
std

['다노스', '스파이더맨', '아이언맨', '앤트맨']